/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
    margin: 0;
    padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
    font-size: 62.5%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
    font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
    isolation: isolate;
}


/* Start */
:root{
  --background-color: #D5E1EF;
  ---text-color: #848A96;
  --heading-color: #1A2940;
}

body{
  background: var(--background-color);
  display: grid;
  place-content: center;

  font-family: "Outfit";
  text-align: center;
  color: var(---text-color);
}


.card{
  background: #fff;
  padding: 1.8rem;
  border-radius: 1.6rem;
  max-width: 320px;

 
}

.img{
  border-radius: 1.2rem;
  margin-bottom: 0rem;
}

.body-copy{
  padding: 1.6rem;
}

.card-title{
 color: var(--heading-color);
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.description{
  font-size: 1.6rem;
  font-weight: 400;
}

@media ( max-wdith: 450px ){
  html{
    font-size: 56.25%;
  }
  .card{
    max-width: 280px;
    padding: 1.2rem;
  }
}