/*
  Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
  Remove default margin
*/
* {
    margin: 0;
    padding: 0;
}

/*
  Allow percentage-based heights in the application
*/
html,
body {
    height: 100%;
}



/*
Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}



/*
 Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}


/* screen-read */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Start */
:root{
  --background-color: hsl(212, 45%, 89%);
  ---text-color: hsl(220, 15%, 55%);
  --heading-color: hsl(218, 44%, 22%);

  --card-tittle: calc(22rem / 16);
  --card-description: calc(15rem / 16);
}

body{
  background: var(--background-color);
  display: grid;
  place-content: center;

  font-family: "Outfit";
  text-align: center;
  color: var(---text-color);
}


.card{
  background: hsl(0, 0%, 100%);
  padding: 18px;
  border-radius: 16px;
  max-width: 320px;

 
}

.img{
  border-radius: 8px;
  margin-bottom: 0rem;
}

.body-copy{
  padding: 12px;
}

.card-title{
 color: var(--heading-color);
  font-size: var(--card-tittle);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 16px;
}

.description{
  font-size: var(--card-description);
  font-weight: 400;
}

